<footer>
    <p>© 2025 Book Your Place — All rights reserved.</p>

    <div class="social-links">
        <a href="https://www.instagram.com/__sidh.ant__/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://www.linkedin.com/in/sidhant-chauhan-395682226" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
   <script>
(() => {
  'use strict'

  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()</script>
