<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
    <nav class="navbar">
        <img class="title" src="/images/logo.png" alt="logo">

        <div class="menu-icon" id="menuIcon">☰</div>

        <ul class="Navs" id="navLinks">
           <a href="http://localhost:3000"> <li class="Navitems">Home</li></a>
            <li class="Navitems">List a place</li>
            <a href="http://localhost:3000/book"><li class="Navitems">Book a place</li></a>
            <li class="Navitems">About</li>
        </ul>

        <button class="loginButton">Login/Sign Up</button>
    </nav>
</header>
</body>
</html>