<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
       <link rel="stylesheet" href="/style.css">
       <link rel="stylesheet" href="/style2.css">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
    <nav class="navbar">
        <img class="title" src="/images/logo.png" alt="logo">

        <div class="menu-icon" id="menuIcon">☰</div>

        <ul class="Navs" id="navLinks">
           <a href="http://localhost:3000"> <li class="Navitems">Home</li></a>
            <li class="Navitems">List a place</li>
            <a href="http://localhost:3000/book"><li class="Navitems">Book a place</li></a>
            <li class="Navitems">About</li>
        </ul>

        <button class="loginButton">Login/Sign Up</button>
    </nav>
</header>
  <div class="card-container">
    <% for(let d of data) { %>
        <div class="card" >
            <a href="http://localhost:3000/book/<%=d._id%>">
            <img class="card-image" src="<%= d.image %>" alt="Image">
            <h3 class="card-title"><%= d.title %></h3>
            <h4 class="card-price">₹ <%= d.price.toLocaleString("en-IN") %></h4>
            </a>
        </div>
    <% } %>
</div>
<footer>
    <p>© 2025 Book Your Place — All rights reserved.</p>

    <div class="social-links">
        <a href="https://www.instagram.com/__sidh.ant__/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://www.linkedin.com/in/sidhant-chauhan-395682226" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</footer>


</body>
</html>