<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav> 
    <img class="title" src="\images\ChatGPT Image Dec 7, 2025, 12_44_23 PM.png" alt="log">  
        <ul class="Navs">
            <li class="Navitems">Home</li>
            <li class="Navitems">List a palce</li>
            <li class="Navitems">Book a place</li>
            <li class="Navitems">About</li>
        </ul> 
    </nav>
</body>
</html>